<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @physician.name %>
</p>

<p>
  <b>Address:</b>
  <%= @physician.address %>
</p>


<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
