<h1>Listing appointments</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Physician</th>
    <th>Date</th>
    <th>Reason</th>
    <th>Fee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.patient_id %></td>
    <td><%= appointment.physician_id %></td>
    <td><%= appointment.date %></td>
    <td><%= appointment.reason %></td>
    <td><%= appointment.fee %></td>
    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path %>
